.homeBody {
    flex-direction: column;
    min-width: 100dvw;
    
}

.conteudoHome {
    flex: 1;
    display: flex;
}

/*socorro*/
.homeMain {
    flex: 1;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.bgHome {
    position: absolute;
    inset: 0;
    width: 80%;
    height: 80%;
    object-fit:contain;
    justify-self: center;
    align-self: center;
    z-index: 0;
}

.card {
    position: relative;
    z-index: 1;
    background-color: rgba(255, 255, 255, 0.8);           
    padding: 15% 15%;
    border-radius: 2px;
    box-shadow: 0 4px 16px rgba(0, 0, 0, 0.25);    
    text-align: left;
}

.card p {
    font-size: 20px;
    color: #002d5b;
    margin: 0;
}

.tituloCard {
    display: flex;
    align-self: flex-start;
    font-size: 13px;
    color: #002d5b;
    margin: 0 0 8px 0;
    align-self: flex-start;
    text-transform: uppercase;
}