:host {
    display: contents;
}

.btnMenu {
    position: fixed;
    top: 0;
    left: 20px;
    height: 50px;          
    display: flex;
    align-items: center;    
    z-index: 20;
    background: none;
    border: none;
    color: #4caf50;
    font-size: 22px;
    cursor: pointer;
    padding: 0 8px;
}

.homeNav {
    position: fixed;
    height: 100dvh;
    width: 0;
    overflow: hidden;
    background-color: #eeeff0;
    padding: 50px 0;
    transition: width 0.2s ease;
    white-space: nowrap;
    z-index: 2;
}

.homeNav.aberto {
    width: 200px;
}

.btns {
    display: grid;

}

.btn {
    position: relative;
    background-color: #d9dee1;
    border-color: #eeeff0;
    color: #4caf50;
    border-style: solid;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: hidden;
}

.logoutBtn {
    position: relative;
    background-color: #d9dee1;
    border-color: #eeeff0;
    color: #e92222;
    border-style: solid;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: hidden;
}

.logoutBtn:hover {
    background-color: #e92222;
    color: #d9dee1;
}

.btn::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 4px;             
    background-color: #4caf50;
    transform: scaleY(0);   
    transition: transform 0.2s ease-out;
}

.btn:hover::after {
    transform: scaleY(1);
}